/* PrimeFlex utilities */
@import 'primeflex/primeflex.css';

/* PrimeReact theme */
@import "primereact/resources/themes/lara-light-blue/theme.css";

/* PrimeReact core (needed for correct spacing & resets) */
@import "primereact/resources/primereact.min.css";

/* Optional icons */
@import "primeicons/primeicons.css";